
header {
    height: 100px; /* Réglez la hauteur souhaitée */
  }
  

  /* Styles pour le menu de navigation */
  .header-right {
    float: right; /* Alignez le menu à droite */
    margin-right: 150px; /* Espace à droite du menu */
    margin-top: -50px;
  }
  

 