/* CourbeAverageSession.module.css */
.chartContainer {
    position: relative;
    background-color: red; /* Fond rouge */
    width: 300px;
    color:white;
    top: 40px;
    border-radius: 10px; /* Bords arrondis */
  overflow: hidden; /* Masquer les coins arrondis dépassant */
  width: 282px;
}
  

  .recharts-cartesian-grid {
    stroke: none; /* Enlever le grillage */
  }
  /* CourbeAverageSession.module.css */

.chartContainer {
  color: #fff; /* Couleur du texte en blanc */
}

.tooltip {
  background: black; /* Fond rouge plus foncé pour le tooltip */
  padding: 10px;
  border-radius:5px;
  color: #fff; /* Couleur du texte en blanc */
}

.tooltipContent {
  margin: 0;
}
