.chartContainer {
    position: relative;
    background-color: black; /* Fond rouge */
    width: 350px;
    height: 310px;
    color:white;
    left: 340px;
    top: -260px;
    font-size: 15px;
    border-radius: 10px; /* Bords arrondis */
  overflow: hidden; 
}
