/* Gadget.module.css */

.gadgetItem {
    display: flex;
    align-items: center;
    background-color: rgb(254, 254, 255);
    margin-bottom: 20px;
    margin-left: 40px;
  }
  
  .gadgetStyle {
    width: 90px;
    height: 90px;
    background-size: cover;
    margin-bottom: 100px;
  }
  
  .measureUnitContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; /* Ajoutez un espacement à gauche si nécessaire */
  }
  .measure{
    font-weight: bold;
  }
  .unit{
    position:relative;
    top:-30px;
  }