/* Gadget.module.css */

.gadgetItem {
    display: flex;
    align-items: center;
    background-color: rgb(254, 254, 255);
    margin-bottom: 20px;
    margin-left: 40px;
  }
  
  .gadgetStyle {
    width: 90px;
    height: 90px;
    background-size: cover;
    margin-bottom: 100px;
  }
  
  .measureUnitContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; 
    margin-bottom: 100px;
  }
  .measure{
    font-weight: bold;
  }
  .unit{
    position:relative;
    top:-30px;
  }

  @media screen and (max-width: 1024px) and (max-height: 780px) {
    .gadgetItem {
      width: 150px; 
      margin-left: 25px; 
    }
  }