.info{
    margin-left: 250px;
    margin-top: 20px;
}
.bonjour{
    font-size: 40px;
    font-weight: bold;
    
}
.firstname{
 display:inline;
    font-size: 40px;
    color: red;
}
.gadgetContainer{
    margin-left: 900px;
    margin-top: 40px;
}